<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js Temelleri</title>
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="">
</head>
<body>

    <header>
        <h2>Dinamik Stillendirme</h2>
    </header>

    <section id="frontend">
       <div class="frontendForm">
            <input type="text" v-model="skill">
            <button @click="addSkill()">Ekle</button>
        </div>
        <p v-if="skills.length === 0">Herhangi bir şey eklemediniz</p>
        <ul v-else-if="skills.length > 0">
            <li>Html</li>
        </ul>
        <p v-else>AdasDasDas</p>
    </section>
    

    <script src="script.js" defer></script>
</body>
</html>